.btn--join-game {
  margin-top: 1.2em;
}
#joinGame {
  text-align: center;
}
#joinGame label {
  font-size: 1.5em;
}
#joinGame input {
  border: none;
  border-radius: 5px;
  color: hsl(259, 92%, 5%);
  display: block;
  line-height: 2em;
  padding: 10px;
  text-align: center;
  margin: 15px auto 0;
  background-color: hsl(269, 92%, 98%);
  min-width: 256px;
  max-width: 300px;
}