.card {
  background-color: white;
  border-radius: .25em;
  color: hsl(259, 98%, 5%);
  padding: 1em;
  box-shadow: 0 2px 6px hsla(259, 98%, 5%, 0.5);
}
.card p {
  margin: 0;
}
.prompt {
  color: hsl(170, 52%, 40%);
  font-weight: bold;
  text-transform: uppercase;
}